<game-of-life-bg
    #gol
    [showGrid]="grid"
    gridColor="#FFFFFF"
    [(cellSize)]="size"
    [(fps)]="fps"
    [(isToroidal)]="isToroidal"
    [spawnRate]="spawnRate"
    [advanceGame]="run"
    [preset]="pattern"
/>

<span>FPS: {{ gol.fps() }} - SIZE: {{ gol.cellSize() }}</span>
<button (click)="run = !run">{{ !run ? "RUN" : "STOP" }}</button>
<button (click)="grid = !grid">TOGGLE GRID</button>
<button (click)="fpsUp()">FPS +</button>
<button (click)="fpsDown()">FPS -</button>
<button (click)="sizeUp()">SIZE +</button>
<button (click)="sizeDown()">SIZE -</button>
<button (click)="changePattern()">CHANGE PATTERN</button>
<button (click)="isToroidal = !isToroidal">TOROIDAL = {{ isToroidal }}</button>
<input
    type="number"
    name="rate"
    id="rate"
    [(ngModel)]="spawnRate"
    min="0"
    step="0.1"
    max="1"
/>
<button (click)="pattern = ''">RANDOM</button>
